
.page-header{
    z-index: 10;
    position: sticky;
    top: 0px;
    background-color: blanchedalmond;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.container{
    padding: 20px;
}

.view-form{
    width: 150px;
    text-align: justify;
}

.main_container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 95vw;
    margin: auto;
    min-height: 100vh;
}

.notView{
    display: none;
}

.main-container_card{
    width: 430px;
    text-align: center;
    position: relative;
}

.pre-image{
    margin: 0;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width:768px){
    .pre-image{
        max-width: 300px;
    }    
}

.card_content{
    padding: 5px 5px 25px;

}

.button_close{
    position: absolute;
    top: 0;
    right: 15px;    
}

.button_cancel{
    position: fixed;
    width: 50px;
    top:50%;
    right: 0;
    writing-mode: vertical-lr; 
    text-orientation: upright; 
}

.page-footer{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: end;
    height: 50px;
    background-color: blanchedalmond;
    margin-top: auto;
}
.footer_container{
    align-self: center;
}

ul, .tree {
    list-style-type: none;
}

.tree,  #myUL {
    margin: 0;
    padding: 0;
}
  
.caret {
    cursor: pointer;
    user-select: none; 
}
  
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
  
.caret-down::before {
    transform: rotate(90deg);
}
  
.nested {
    display: none;
}
  
.active {
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.thumbnail{
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 20px;;
}
